site_name: 'yoneda'
docs_dir: src
nav:
  - General:
      - About: index.md

  - HoTT:
      - Common: hott/00-common.rzk.md
      - Paths: hott/01-paths.rzk.md
      - Homotopies: hott/02-homotopies.rzk.md
      - Equivalences: hott/03-equivalences.rzk.md
      - Sigma types: hott/04-sigma.rzk.md
      - Contractible: hott/05-contractible.rzk.md
      - Fibers: hott/06-fibers.rzk.md
      - Propositions: hott/07-propositions.rzk.md
      - Trivial fibrations: hott/08-trivial-fibrations.rzk.md

  - Simplicial HoTT:
      - Simplicial Type Theory: simplicial-hott/03-simplicial-type-theory.rzk.md
      - Extension Types: simplicial-hott/04-extension-types.rzk.md
      - Segal Types: simplicial-hott/05-segal-types.rzk.md
      - 2-Category of Segal Types: simplicial-hott/06-2cat-of-segal-types.rzk.md
      - Discrete Types: simplicial-hott/07-discrete.rzk.md
      - Covariantly Functorial Type Families: simplicial-hott/08-covariant.rzk.md
      - The Yoneda Lemma: simplicial-hott/09-yoneda.rzk.md
      - Rezk Types: simplicial-hott/10-rezk-types.rzk.md
      - Cocartesian Families: simplicial-hott/12-cocartesian.rzk.md

markdown_extensions:
  - admonition
  - footnotes
  - pymdownx.details
  - mdx_math
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

theme:
  name: material
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
    view: material/eye
  features:
    - content.code.copy
    - content.action.edit
    - navigation.footer
    - navigation.sections
    - navigation.path
  palette:
    # Palette toggle for light mode
    - media: '(prefers-color-scheme: light)'
      primary: blue
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: '(prefers-color-scheme: dark)'
      primary: blue
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

extra_javascript:
  - javascript/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

plugins:
  - search
